*{
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    background-color: whitesmoke;
}
.nav{
    height: 53px;
    background-color: white;
    margin-bottom: 25px;
    border-bottom: 2px solid #d8d7d7;
    width: auto;
}
.container{
    width: 1100px;
    padding: 6px;
    margin: auto;
}
.colOne{
    background: white;
    width: 171px;
    float: left;
    border-bottom:2px solid #bfbfbf6b;
    margin-left: 10px;
}
.colTwo{
    width: 800px;
    height: 100%;
    margin-left: 16rem;
    padding: 17px;
    background-color: white;
    margin-bottom: 8px;
    font-family: sans-serif;
    border-bottom: 2px solid #d8d7d7;
    border-left: 2px solid #d8d7d7;
}
.link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.title{
    width: 789px;
    margin-bottom: 11px;
    height: 33px;
    border: 1px solid #d4d4d4;
}
.myForm{
    margin-left: 9px;
}
.active{
    background: whitesmoke;
}
#logout{
    float: right;
    margin-top:10px;
    font-size: 21px;
    color: #a5a2a2;
    text-decoration: none;
}
#submit{
    height: 38px;
    width: 120px;
    background-color:#ffffff00;
    color: black;
    border-radius: 6px;
    border: 1px solid #222222;
    margin-left: 42rem;
    margin-top: 14px;
}
#submit:hover{
    background-color: #000000;
    color: white;
}
ul{
    list-style: none;
    padding-left: 0 !important;
}
ul>li{
    font-family: sans-serif;
    padding: 10px;
}
li:hover{
    background-color: whitesmoke;
}