body{
    margin: 0;
    background-color: whitesmoke;
}
*{
    font-family: Arial, sans-serif;
}
.nav{
    height: 53px;
    background-color: white;
    margin-bottom: 25px;
    border-bottom: 2px solid #d8d7d7;
}
.container{
    width: 1100px;
    padding: 6px;
    margin: auto;
}
.colOne{
    background: white;
    width: 171px;
    float: left;
    border-bottom:2px solid #bfbfbf6b;
    margin-left: 10px;
}
.colTwo{
    width: 800px;
    margin-left: 16rem;
    padding: 17px;
    background-color: white;
    margin-bottom: 8px;
    font-family: sans-serif;
    border-bottom: 2px solid #d8d7d7;
    border-left: 2px solid #d8d7d7;
}
.link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.active{
    background: whitesmoke;
}
#logout{
    float: right;
    margin-top: 10px;
    font-size: 21px;
    color: #a5a2a2;
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0 !important;
}
ul>li{
    font-family: sans-serif;
    padding: 10px;
}
li:hover{
    background-color: whitesmoke;
}