body{
    margin: 0;
    background-color: whitesmoke;
}
*{
    font-family: Arial,sans-serif;
}
.card{
    margin: 90px auto auto;
    padding: 20px 36px 36px;
    background-color: white;
    width: 374px;
    border-radius: 15px;
}
.signup{
    margin-bottom: 35px;
    width: 370px;
    height: 33px;
    border: 1px solid white;
    border-bottom-color: black;
}
.btnSignup{
    border: 1px solid white;
    width: 370px;
    height: 35px;
    border-radius: 13px;
    margin-top: 13px;
    margin-bottom: 15px;
}
.btnSignup:hover{
    background-color: whitesmoke;
}